/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #eae0d5;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(1000px, 95vw);
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.intro {
  padding-top: 1em;
  padding-bottom: 1em;
  width: min(1000px, 95vw);
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 4em;
  font-weight: 500;
  margin-top: 20px;
  color: black;
}

h3 {
  margin-bottom: 50px;
  color: black;
}

.badge {
  text-align: center;
  margin-bottom: 16px;
  margin-top: 16px;
}
.badge span {
  background-color: #5e503f;
  color: #ffffff;
  border-radius: 6px;
  font-weight: bold;
  padding: 4px 8px 4px 8px;
  font-size: 0.75em;
}

.instructions {
  text-align: center;
}
.instructions span {
  color: #6c757d;
}

.dall-e-attribution {
  font-size: x-small;
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-top: 50px;
  list-style-type: none;
  border-radius: 8px;
  border: solid 1px lightgray;
  background-color: #5e503f;
  color: white;
}

ul:empty {
  display: none;
}

li {
  border-radius: 8px;
  border: solid 1px lightgray;
  margin: 10px 0;
  padding: 8px 16px 8px 16px;
  border-bottom: solid 1px lightgray;
  font-size: 16px;
  width: 40%;
}

li:last-child {
  border: 0;
}

li span:nth-child(1) {
  font-weight: bold;
  margin-right: 4px;
  white-space: nowrap;
  text-align: center;
}
li span:nth-child(2) {
  margin-right: 4px;
  word-break: break-word;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px;
  color: black;
}

input:not([type]) {
  padding: 6px 12px 6px 12px;
  color: rgb(33, 37, 41);
  border: solid 1px rgb(206, 212, 218);
  border-radius: 8px;
  font-size: 16px;
}

input[type="submit"],
button {
  margin-left: 4px;
  background: lightblue;
  color: white;
  padding: 6px 12px 6px 12px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #5e503f;
}

input::placeholder {
  color: black;
}

input[type="submit"]:hover,
button:hover {
  cursor: pointer;
  background-color: #5e503f;
}

input[type="submit"]:disabled,
button:disabled {
  background-color: #5e503f;
}

.cake {
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 50px;
}

.title {
  padding-top: 10%;
  text-align: center;
}

figure {
  display: flex;
  justify-content: center;
}

/* Courtesy of loading.io */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(41, 93, 207);
  border-color: rgb(122, 160, 248) transparent rgb(122, 160, 248) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
